USE [master]
GO
/****** Object:  Database [gridFreaks]    Script Date: 10/09/2021 05:41:59 p. m. ******/
CREATE DATABASE [gridFreaks]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'gridFreaks', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\gridFreaks.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'gridFreaks_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\gridFreaks_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gridFreaks].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gridFreaks]
GO
/****** Object:  Table [dbo].[Colores]    Script Date: 10/09/2021 05:41:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colores](
	[id] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Colores] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalleVentas]    Script Date: 10/09/2021 05:41:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalleVentas](
	[nroTicket] [int] NOT NULL,
	[idPrenda] [int] NOT NULL,
	[cantidad] [int] NULL,
	[subtotal] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 10/09/2021 05:41:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[id] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Marcas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prendas]    Script Date: 10/09/2021 05:41:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prendas](
	[id] [int] NOT NULL,
	[idTpoPrenda] [int] NULL,
	[idColor] [int] NULL,
	[Temporada] [varchar](50) NULL,
	[Stock] [int] NULL,
	[Precio] [float] NULL,
	[idMarca] [int] NULL,
	[borrado] [int] NULL,
 CONSTRAINT [PK_Prendas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoPrenda]    Script Date: 10/09/2021 05:41:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPrenda](
	[id] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [PK_TipoPrenda] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 10/09/2021 05:41:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[usuario] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NULL,
	[apellido] [varchar](50) NULL,
	[contra] [varchar](50) NULL,
	[mail] [varchar](50) NULL,
	[borrado] [int] NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 10/09/2021 05:41:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[nroTicket] [int] NOT NULL,
	[idUsuario] [varchar](50) NULL,
	[fecha] [datetime] NULL,
	[total] [float] NULL,
 CONSTRAINT [PK_Ventas] PRIMARY KEY CLUSTERED 
(
	[nroTicket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Colores] ([id], [nombre]) VALUES (1, N'Negro')
INSERT [dbo].[Colores] ([id], [nombre]) VALUES (2, N'Blanco')
INSERT [dbo].[Colores] ([id], [nombre]) VALUES (3, N'Rojo')
GO
INSERT [dbo].[detalleVentas] ([nroTicket], [idPrenda], [cantidad], [subtotal]) VALUES (1, 1, 1, 7000)
INSERT [dbo].[detalleVentas] ([nroTicket], [idPrenda], [cantidad], [subtotal]) VALUES (1, 7, 1, 2000)
INSERT [dbo].[detalleVentas] ([nroTicket], [idPrenda], [cantidad], [subtotal]) VALUES (2, 2, 1, 7000)
GO
INSERT [dbo].[Marcas] ([id], [nombre]) VALUES (1, N'Undefined')
INSERT [dbo].[Marcas] ([id], [nombre]) VALUES (2, N'RipNDip')
INSERT [dbo].[Marcas] ([id], [nombre]) VALUES (3, N'Vans')
GO
INSERT [dbo].[Prendas] ([id], [idTpoPrenda], [idColor], [Temporada], [Stock], [Precio], [idMarca], [borrado]) VALUES (1, 1, 1, N'Invierno', 11, 7000, 1, 0)
INSERT [dbo].[Prendas] ([id], [idTpoPrenda], [idColor], [Temporada], [Stock], [Precio], [idMarca], [borrado]) VALUES (2, 1, 2, N'Invierno', 7, 7000, 2, 0)
INSERT [dbo].[Prendas] ([id], [idTpoPrenda], [idColor], [Temporada], [Stock], [Precio], [idMarca], [borrado]) VALUES (3, 3, 2, N'Verano', 15, 3500, 3, 0)
GO
INSERT [dbo].[TipoPrenda] ([id], [nombre]) VALUES (1, N'Buzo')
INSERT [dbo].[TipoPrenda] ([id], [nombre]) VALUES (2, N'Remera')
INSERT [dbo].[TipoPrenda] ([id], [nombre]) VALUES (3, N'Pantalon')
GO
INSERT [dbo].[Usuarios] ([usuario], [nombre], [apellido], [contra], [mail], [borrado]) VALUES (N'gastonriosc', N'Gaston', N'Rios Cardona', N'123', N'gaston@gmail.com', 0)
INSERT [dbo].[Usuarios] ([usuario], [nombre], [apellido], [contra], [mail], [borrado]) VALUES (N'juantargon', N'Juan', N'Targon', N'123', N'juan@gmail.com', 0)
INSERT [dbo].[Usuarios] ([usuario], [nombre], [apellido], [contra], [mail], [borrado]) VALUES (N'mameida', N'capoo', N'cara Neida', N'123', N'sisi@gmail.com', 1)
GO
INSERT [dbo].[Ventas] ([nroTicket], [idUsuario], [fecha], [total]) VALUES (1, N'juantargon', CAST(N'2021-09-09T00:00:00.000' AS DateTime), 9000)
INSERT [dbo].[Ventas] ([nroTicket], [idUsuario], [fecha], [total]) VALUES (2, N'gastonriosc', CAST(N'2021-08-01T00:00:00.000' AS DateTime), 8800)
INSERT [dbo].[Ventas] ([nroTicket], [idUsuario], [fecha], [total]) VALUES (3, N'tomasripsky', CAST(N'2021-08-20T00:00:00.000' AS DateTime), 12000)
GO
ALTER TABLE [dbo].[detalleVentas]  WITH CHECK ADD  CONSTRAINT [FK_detalleVentas_Prendas] FOREIGN KEY([idPrenda])
REFERENCES [dbo].[Prendas] ([id])
GO
ALTER TABLE [dbo].[detalleVentas] CHECK CONSTRAINT [FK_detalleVentas_Prendas]
GO
ALTER TABLE [dbo].[detalleVentas]  WITH CHECK ADD  CONSTRAINT [FK_detalleVentas_Ventas] FOREIGN KEY([nroTicket])
REFERENCES [dbo].[Ventas] ([nroTicket])
GO
ALTER TABLE [dbo].[detalleVentas] CHECK CONSTRAINT [FK_detalleVentas_Ventas]
GO
ALTER TABLE [dbo].[Prendas]  WITH CHECK ADD  CONSTRAINT [FK_Prendas_Colores] FOREIGN KEY([idColor])
REFERENCES [dbo].[Colores] ([id])
GO
ALTER TABLE [dbo].[Prendas] CHECK CONSTRAINT [FK_Prendas_Colores]
GO
ALTER TABLE [dbo].[Prendas]  WITH CHECK ADD  CONSTRAINT [FK_Prendas_Marcas] FOREIGN KEY([idMarca])
REFERENCES [dbo].[Marcas] ([id])
GO
ALTER TABLE [dbo].[Prendas] CHECK CONSTRAINT [FK_Prendas_Marcas]
GO
ALTER TABLE [dbo].[Prendas]  WITH CHECK ADD  CONSTRAINT [FK_Prendas_TipoPrenda] FOREIGN KEY([idTpoPrenda])
REFERENCES [dbo].[TipoPrenda] ([id])
GO
ALTER TABLE [dbo].[Prendas] CHECK CONSTRAINT [FK_Prendas_TipoPrenda]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([usuario])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Usuarios]
GO
USE [master]
GO
